.main {
  padding: 20px;
}

.sidebar {
  background-color: #28808c;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
 min-height: 100%; 
  padding: 20px;
 width: 300px;
}

.collapsed-sidebar{
  background-color: #28808c;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
 min-height: 100%; 
  padding: 15px;
  
}

  .badgeN{
    background-color: #28808c !important;
    font-size: 20px;
    border-style: none;
  }
.badgei{
  background-color: #28808c !important;
  border-radius: 100%;
  font-size: 10px;
  background-color: red !important;
  
}
.content {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #28808c;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-bottom: 20px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  height: 90vh;
  width: 100%;
}
.menu{
  margin-top: 100px;
}
.menu-item{
  margin-top: 30px;
  
}

.menu-item a{
  color:rgba(255,255,255, 0.721);
  text-decoration: none;
  font-size: 17px;
}

.menu-item i{
  color:rgba(255,255,255, 0.721);
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}

.active-menu-item{
  color:white;
  background-color: #013737;
  padding: 5px;
  border-radius: 5px;
}

.close-icon{
  font-size: 30px;
  color:white;
  cursor:pointer;
  padding: 10px;
}

.header-action-icon{
  font-size: 30px;
  color:white;
  cursor:pointer;
  padding-left: 10px;
}
.ant-scroll-number-only-unit{
  padding-right: -10px !important;
  padding-bottom: -10px !important;
}
.anchor1{
  color:white !important;
  font-size: 18px !important;
}
@media screen and (max-width : 768px) {
  
  .menu{
    padding: 0 5px;
  }
}